@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,700');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c8e6c9;
}

h1, h2 {
  font-weight: 300;
}

h5 {
  font-size: 1.5rem;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

ul:first-child {
  padding-top: 0;
}
ul li {
  padding: .2rem 0;
}

ul li span {
  font-weight: 700;
}
.container {
  max-width: 1024px;
  background-color: #fff;
  padding: .5rem 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.column {
  width: 100%;
}

header h1 {
  text-align: center;
}

.group {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}
form label {
  display: block;

}
form input {
  padding: .4rem .5rem;
  width: 70%;
  margin-bottom: 1rem;
}

form button {
  appearance: none;
  width: 100%;
  background-color: #ffcdd2;
  border: none;
  padding: .8rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  transition: all .3s ease;
  cursor: pointer;
}

form button:hover {
  background-color: #cb9ca1;
}

.error {
  color: red;
}

.list-item {
  border-bottom: 1px solid #707070;
  padding: 0 0 .5rem 0;
  margin: 0;
}

.list-item .column{
  border-right: none;
}
.list-item button {
  background-color: red;
  appearance: none;
  border: none;
  padding: .8rem;
  cursor: pointer;
  color: #fff;
  font-size: .8rem;
  text-transform: uppercase;
  transition: all .3s ease;
}

.list-item button:hover {
  background-color: #cb9ca1;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    margin: 0 auto;
  }

  .column {
    width: 50%;
  }

  .column:first-of-type {
    border-right: 1px solid #707070;
  }
  
  .column:last-of-type {
    padding-left: 2rem;
  }

  form {
    padding-right: 2rem;
   }

   .list-item button {
    float: right;
   }
   .list-item .column:first-of-type {
    border-right: none;
  }
}